/*quita los espacios de la pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0; /*margenes entre contenedores (arriba, abajo y costados)*/
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;/*si algo quiere salir del contenedor, automaticamnete lo esconda*/
}

.titulo{
    /*color: #642a73;*/
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*Header*/

header{
    width: 100%;
    height: 600px;
    background: #ffe000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(53, 100%, 50%, 0.23), hsla(76, 86%, 34%, 0.355)), url(../img/portada.jpg);; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(53, 100%, 50%, 0.23), hsla(76, 86%, 34%, 0.328)), url(../img/portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;/*aliniando texto a la derecha*/
    padding: 30px 50px 0 0;
}

nav a{
    color: #ffff;
    font-weight: 300px;/*poniendo mas ligero*/
    text-decoration: none;/*quitando subrayado de menu*/
    margin-right: 2em;/*distanciando o separando menu*/
    cursor: pointer;
}
/*cuando pones cursor se subraya menu*/
nav a:hover{
    background-color: rgb(227, 255, 101);
    color: #000;
    border-radius: 5px;
    padding: 10px 20px;
}

/*efecto ola en posicion permanente (parte abajo)*/
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .textos-header{
    display: flex;
    height: 330px;
    width: 100%;
    align-items: center;/*centramos entre inferior y superior*/
    justify-content: center;/*centramos entre izquierda y derecha*/
    flex-direction: column;/*separamos 2 textos, uno debajo del otro*/
    text-align: center;
}

.textos-header h1{
    font-size: 50px; /*aumentando tamaño texto*/
    color: #ffff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #ffff;
}

/*about us*/

main .sobre-nosotros{
    padding: 10px 0 60px 0;
}

.contenedor-sobre-nosotros{
    display: flex;/*con esto texto ponemos a la derecha*/
    justify-content: space-evenly;
}

.contenedor-sobre-nosotros img {
    width: 48%;
    height: 300px;
}

.sobre-nosotros
.contenido-textos{
    width: 45%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #ffff;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 28px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, hsla(69, 39%, 94%, 0.355));/*sombreado texto*/
    margin-right: 5px;/*separar texto titulo del span*/
}

.contenido-textos p{
    padding: 0 0 30px 15px;/*espacio arriba, abajo, derecha, izquierda*/
    font-weight: 300;
    text-align: justify;
}

/*galeria*/

.portafolio{
    background: #f1ecec;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
}

.imagen-port  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(86, 72%, 62%, 0.578);
    transition: transform .20s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    height: 150px;
    width: 150PX;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*clientes*/

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #ffff;
    border-radius: 50%;
    display: block;
    margin-right: 8px;
}

.contenido-texto-card{  
    color: #ffff;
}

.contenido-texto-card p{
    font-weight: 300;
    padding: 5px;
}

/*our team*/

.about-services{
    background:#f1ecec;
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}


/*footer*/

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;/*linea que separa ultimo titulo*/
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #ffff;
    border-bottom: 3px solid #11e86b;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}
.content-foo a{
    text-decoration: none;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}


/*responsive*/

@media screen and (max-width:800px) {
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros
    .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /*galeria*/

    .imagen-port{
        width: 44%;
    }

    /*clientes*/

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards.card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /*servicios*/

    .servicio-cont{
        flex-direction: column;
        justify-content: center;

    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px) {
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /*abput us*/

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /*galeria*/

    .imagen-port{
        width: 95%;
    }

    /*clientes*/

    .cards .card{
       height: 450px;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 90%;
       justify-content: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    .contenido-texto-card{
        
        width: 90%;
        
        
    }
    
    /*footer*/

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}